* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    background-image: url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    color:#4c4242;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin:0 auto;
}

.logo{
    width: 260px;
    height: 180px;
}
.reg-cart{
    float:right;
    padding:20px;
}
.reg-cart ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.reg-cart ul li{
    display: inline-block;
}

.reg-cart li a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 6px;
}

.login-btn a{
    font-size: 16px;
    background-color: lightseagreen;
}

.cart-btn a {
    font-size: 16px;
    background-color: lightcoral;
}

.column-left{
    background-color: white;
}

.column-left .input-group{
    padding: 8px 8px 0 8px;
}

.column-left .input-group input{
    height: 36px;
    width: 100%;
    padding: 0 10px;
    font-size: 13px;
    color: lightgray;
    transition: none;
    box-shadow: none;
    border-radius: 8px;
    border: 1px solid #e7e7e7;
}

.column-left>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.column-left>ul>li>a{
    display: block;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 17px;
    color: midnightblue;
}

.column-left a:hover{
    background-color: lightgray;
}

.column-left h3{
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Style the top navigation bar */
.topnav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    color: #f2f2f2;
    text-align: center;
    font-size: 18px;
    padding: 14px 40px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.row{
    display: flex;
    flex-direction: row;
}

.column-left {
    flex: 1;
}

.column-right{
    flex: 3;
}

img{
    width: 200px;
    margin: 0 auto;
}

.row .img-column{
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 400px;
    margin-right: 20px;
    border-radius: 10px;
}

.row .img-column:last-child{
    margin-right: 0;
}

.row-slider{
    margin-top: 20px;
}

.store-img{
    display: block;
    width: 750px;
    height: 400px;
    margin: 0 auto;
}

/*3 column layout for promos page */
.promo-container{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.promo-item{
    padding: 5px;
    width: 300px;
    height: 500px;
    margin-top: 10px;
    margin-left: 10px;
}

.promo-img{
    width: 270px;
    height: 200px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-grow: 1;
}

.promo-item>li>a, h3, p{
    margin-top: 15px;
    padding: 0 20px;
}

.promo-item>li>a, h3 {
    font-size: 20px;
    text-align: center;
}
.promo-item>li>a, p {
    font-size: 16px;
    text-align: center;
}
.aboutus p{
    font-size: 18px;
}

footer{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    background-color: #333;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}