* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Trebuchet MS","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    color:#4c4242;
}
.container {
    width: 100%;
    margin:0;
}
.header{
    width: 100%;
    height: 350px;
    background: url('../images/header1.svg');
    background-size:cover;
    position:relative;
}
.logo{
    margin:20px;
}
/* top header for login/register buttons and cart */
.topHeader{
    background: rgb(86, 202, 248);
    height: 45px;
    padding-top:4px;
    display:flex;
    flex-direction: row;
}
.topHeader a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 6px;
    border-radius: 2px
}
.topHeader .headderAuth{
    display:inline-block;
    position: relative;
    flex:1;
}
.topHeader .headderAuth .login-btn, .cart-btn{
    display: inline-block;
    padding-top:10px;
    height:40px;
}
.input-group{
    display:inline-block;
    padding: 0 8px;
    flex:2;
}

.input-group input{
    margin-left:300px;
    height: 36px;
    width: 350px;
    padding: 0 10px;
    font-size: 13px;
    color: lightgray;
    transition: none;
    box-shadow: none;
    border-radius: 8px;
    border: 1px solid #e7e7e7;
}
/*  -----------END OF TOP HEADER -------------*/
/* Style the top navigation bar */
.topnav {
    position: absolute;
    bottom:0;
}
.topnav ul{
    display:inline-block;
    list-style-type: none;
    margin-left:150px;
    margin-bottom: 10px;
}
.topnav ul li{
    position: relative;
    vertical-align: top;
    display: inline-block;
}
/* Style the topnav links */
.topnav a {
    color: #fff;
    font-size: 20px;
    line-height: 41px;
    height: 41px;
    padding: 6px 40px;
    text-decoration: none;
    border-radius: 3px;
}
.topnav .index a {
    background: rgb(245, 52, 52);
}
.topnav .about a {
    background:#e88102;
}
.topnav .news a {
    background: #3bc91f;
}
.topnav .promotions a {
    background: #55068e;
}
.topnav .contacts a{
    background: #069eeb;
}
/* Change color on hover */
.topnav a:hover {
    background-color: lightyellow;
    color:blueviolet;
}
.login-btn a{
    font-size: 16px;
    background-color: rgb(5, 201, 90);
}
.profile-btn a{
    font-size: 16px;
    background-color: rgb(5, 201, 90);
}
.cart-btn a {
    font-size: 16px;
    background-color: rgb(245, 52, 52);
}
.accountBtn {
    font-size: 16px;    
    background-color: rgb(5, 201, 90);
}
/* main*/
.row{
    display: flex;
    flex-direction: row;
    max-width: 90%;
    margin: 0 auto;
}
.column-left {
    flex: 1;
    background-color: white;
    max-width: 250px;
}
.column-left>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.column-left>ul>li>a{
    display: block;
    text-decoration: none;
    /* new*/
    padding:.8rem 1rem;
    font-size: 17px;
    color: rgb(23, 23, 165);
}
.column-left h3{
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* RIGHT COLUMN - IMG SLIDER */
.outer-wrapper {
    width: 90%;
    margin: 30px auto;
  }
  
  .s-wrap {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 55%;
    position: relative;
    border: 10px solid #fff;
    background-color: #efefe8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .s-wrap > input {
    display: none;
  }
  .s-wrap .s-content {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    font-size: 0;
    list-style: none;
    transition: transform 1s;
  }
  .s-wrap .s-item {
    display: inline-block;
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .s-wrap .s-item-1 {
    background-image: url("../images/imgSlider1.jpg");
  }
  .s-wrap .s-item-2 {
    background-image: url("../images/imgSlider2.jpg");
  }
  .s-wrap .s-item-3 {
    background-image: url("../images/imgSlider3.jpg");
  }
  .s-wrap .s-item-4 {
    background-image: url("../images/imgSlider4.jpg");
  }
  .s-wrap .s-item-5 {
    background-image: url("../images/imgSlider5.jpg");
  }
  
  .s-type-1 .s-control {
    position: absolute;
    bottom: 18px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    transition-timing-function: ease-out;
  }
  .s-type-1 .s-control > label[class^="s-c-"] {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #999;
    background-color: #efefe8;
    cursor: pointer;
  }
  .s-type-1 .s-nav label {
    display: none;
    position: absolute;
    top: 50%;
    padding: 5px 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .s-type-1 .s-nav label::before, .s-type-1 .s-nav label::after {
    content: "";
    display: block;
    width: 8px;
    height: 24px;
    background-color: #fff;
  }
  .s-type-1 .s-nav label::before {
    margin-bottom: -12px;
  }
  .s-type-1 .s-nav label.left {
    left: 20px;
  }
  .s-type-1 .s-nav label.left::before {
    transform: rotate(45deg);
  }
  .s-type-1 .s-nav label.left::after {
    transform: rotate(-45deg);
  }
  .s-type-1 .s-nav label.right {
    right: 20px;
  }
  .s-type-1 .s-nav label.right::before {
    transform: rotate(-45deg);
  }
  .s-type-1 .s-nav label.right::after {
    transform: rotate(45deg);
  }
  .s-type-1 #s-1:checked ~ .s-content {
    transform: translateX(0%);
  }
  .s-type-1 #s-1:checked ~ .s-control .s-c-1 {
    background-color: #333;
  }
  .s-type-1 #s-1:checked ~ .s-nav .s-nav-1 {
    display: block;
  }
  .s-type-1 #s-2:checked ~ .s-content {
    transform: translateX(-20%);
  }
  .s-type-1 #s-2:checked ~ .s-control .s-c-2 {
    background-color: #333;
  }
  .s-type-1 #s-2:checked ~ .s-nav .s-nav-2 {
    display: block;
  }
  .s-type-1 #s-3:checked ~ .s-content {
    transform: translateX(-40%);
  }
  .s-type-1 #s-3:checked ~ .s-control .s-c-3 {
    background-color: #333;
  }
  .s-type-1 #s-3:checked ~ .s-nav .s-nav-3 {
    display: block;
  }
  .s-type-1 #s-4:checked ~ .s-content {
    transform: translateX(-60%);
  }
  .s-type-1 #s-4:checked ~ .s-control .s-c-4 {
    background-color: #333;
  }
  .s-type-1 #s-4:checked ~ .s-nav .s-nav-4 {
    display: block;
  }
  .s-type-1 #s-5:checked ~ .s-content {
    transform: translateX(-80%);
  }
  .s-type-1 #s-5:checked ~ .s-control .s-c-5 {
    background-color: #333;
  }
  .s-type-1 #s-5:checked ~ .s-nav .s-nav-5 {
    display: block;
  }
  
  
  @keyframes slider-animation {
    0%,
      7% {
      transform: translateX(0%);
    }
    12.5%,
      19.5% {
      transform: translateX(-20%);
    }
    25%,
      32% {
      transform: translateX(-40%);
    }
    37.5%,
      44.5% {
      transform: translateX(-60%);
    }
    50%,
      57% {
      transform: translateX(-80%);
    }
    62.5%,
      69.5% {
      transform: translateX(-60%);
    }
    75%,
      82% {
      transform: translateX(-40%);
    }
    87.5%,
      94.5% {
      transform: translateX(-20%);
    }
  }
  
/* EDN OF IMG SLIDER */


/* NAVIGATION LEFT COLUMN - Cagetories, types */
.column-left .navigation{
    display:flex;
    flex-direction: column;
}
.column-left .navigation>li{    
    display:flex;  
    background: skyblue;
    border: 1px solid whitesmoke;
}
.column-left .navigation ul li a:hover{
    background-color: rgb(233, 248, 99);
    color: rgb(156, 5, 156);
}
.column-left .navigation li ul li a {
    display: block;
    width: 100;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.column-left .navigation ul{
    position:relative;
    display:none;
}
.column-left .navigation li:hover ul{
    display:inline-block;
    margin-left:-80px;
    z-index:1;
}
.navigation li ul li{
    list-style: none;
}
/* END NAVIGATION */

.column-right{
    flex: 3;
}

.img-column img{
    width: 200px;
    margin: 0 auto;
}

.row .img-column{
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 400px;
    margin-right: 20px;
    border-radius: 10px;
}

.row .img-column:last-child{
    margin-right: 0;
}

.row-slider{
    margin-top: 20px;
    background-color:rgb(86, 202, 248);
}

.store-img{
    display: block;
    width: 750px;
    height: 400px;
    margin: 0 auto;
}

/*3 column layout for promos page */
.promo-container{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.promo-item{
    padding: 5px;
    width: 300px;
    height: 500px;
    margin-top: 10px;
    margin-left: 10px;
}

.promo-img{
    width: 270px;
    height: 200px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-grow: 1;
}

.promo-item>li>a, h3, p{
    margin-top: 15px;
    padding: 0 20px;
}

.promo-item>li>a, h3 {
    font-size: 20px;
    text-align: center;
}
.promo-item>li>a, p {
    font-size: 16px;
    text-align: center;
}

.aboutus p{
    font-size: 18px;
}

footer{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    background-color: #333;
}

/*show products on page*/

.product-container{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.product-item{
    padding-top: 5px;
    width: 250px;
    height: 367px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
}
.product-item>li>a, h3, p{
    margin-top: 15px;
    padding: 0 20px;
}

.product-item>li>a, h3 {
    font-size: 18px;
    color: #1e91cf;
    text-align: center;
}
.product-item>li>a, p {
    font-size: 16px;
    text-align: center;
}
.product-img{
    width: 200px;
    height: 160px;
    align-items: center;
    display: flex;
    flex-grow: 1;
}

.price{
    font-size: 20px;
    font-weight: bold;
}

.button-group{
    border-top: 1px solid #ddd;
    background-color: #eeeeee;
    overflow: auto;
}

.button-group button{
    border: none;
 
    padding-left: 11px;
    padding-right: 12px;
    display: inline-block;
    background-color: #eeeeee;
    color: #888;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.button-group button:hover{
    background-color: #ddd;
}

/* session strart profile dropdown*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
   
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content .info {
    background: #f53434;
}
.dropdown-content .edit {
    background:#e88102;
}
.dropdown-content .address {
    background: #3bc91f;
}
.dropdown-content a.orders  {
    background: #55068e;
}
.dropdown-content a.favorites{
    background: #069eeb;
}
/* Change color on hover */
.dropdown-content a:hover {
    background-color: lightyebllow;
    color:blueviolet;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;

}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

@media only screen and (min-width:480px){
.column-left ul{
      flex-direction:column;
  /*     justify-content:flex-end; */
    }
.column-left ul li{
      position:relative;
      flex:1 0 auto;
      text-align:left;
    }
.column-left .navigation ul, .navigation ul li ul{
      display:none;
      width:100%;
      position:absolute;
}
.column-left ul li ul{
    left:100%;
top:0;
    }
}