* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Trebuchet MS","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    color:#4c4242;
}


.container {
    width: 100%;
    margin:0;
}
.header{
    width: 100%;
    height: 350px;
    background: url('../images/header1.svg');
    background-size:cover;
    position:relative;
}
.logo{
    margin:20px;
}
/* top header for login/register buttons and cart */
.topHeader{
    background: rgb(86, 202, 248);
    height: 45px;
    padding-top:4px;
    display:flex;
    flex-direction: row;
}
.topHeader a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 6px;
    border-radius: 2px
}
.topHeader .headderAuth{
    display:inline-block;
    position: relative;
    flex:1;
}
.topHeader .headderAuth .login-btn, .cart-btn{
    display: inline-block;
    padding-top:10px;
    height:40px;
}
.input-group{
    display:inline-block;
    padding: 0 8px;
    flex:2;
}

.input-group input{
    margin-left: 50px;
    height: 36px;
    width: 350px;
    padding: 0 10px;
    font-size: 13px;
    color: lightgray;
    transition: none;
    box-shadow: none;
    border-radius: 8px;
    border: 1px solid #e7e7e7;
}
/*  -----------END OF TOP HEADER -------------*/
/* Style the top navigation bar */
.topnav {
    position: absolute;
    bottom:0;
}
.topnav ul{
    display:inline-block;
    list-style-type: none;
    margin-left:150px;
    margin-bottom: 10px;
}
.topnav ul li{
    position: relative;
    vertical-align: top;
    display: inline-block;
}
/* Style the topnav links */
.topnav a {
    color: #fff;
    font-size: 20px;
    line-height: 41px;
    height: 41px;
    padding: 6px 40px;
    text-decoration: none;
    border-radius: 3px;
}
.topnav .index a {
    background: rgb(245, 52, 52);
}
.topnav .about a {
    background:#e88102;
}
.topnav .news a {
    background: #3bc91f;
}
.topnav .promotions a {
    background: #55068e;
}
.topnav .contacts a{
    background: #069eeb;
}
/* Change color on hover */
.topnav a:hover {
    background-color: lightyellow;
    color:blueviolet;
}
.login-btn a{
    font-size: 16px;
    background-color: rgb(5, 201, 90);
}
.profile-btn a{
    font-size: 16px;
    background-color: rgb(5, 201, 90);
}
.cart-btn a {
    font-size: 16px;
    background-color: rgb(245, 52, 52);
}
.accountBtn {
    font-size: 16px;
    background-color: rgb(5, 201, 90);
}
/* main*/
.row{
    display: flex;
    flex-direction: row;
}
.column-left{
    background-color: white;
}


.column-left>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.column-left>ul>li>a{
    display: block;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 17px;
    color: midnightblue;
}

.column-left a:hover{
    background-color: lightgray;
}

.column-left h3{
    padding-bottom: 0;
    margin-bottom: 0;
}

.column-left {
    flex: 1;
}

.column-right{
    flex: 3;
}

img{
    width: 200px;
    margin: 0 auto;
}

.row .img-column{
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 400px;
    margin-right: 20px;
    border-radius: 10px;
}

.row .img-column:last-child{
    margin-right: 0;
}

.row-slider{
    margin-top: 20px;
    background-color:rgb(86, 202, 248);
}

.store-img{
    display: block;
    width: 750px;
    height: 400px;
    margin: 0 auto;
}

/*Cart*/
.table tr{
    border: 1px solid #ddd;
}

.table{
    display: table;
    width: 100%;
    max-width: 100%;
    margin-bottom: 17px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.table-responsive{
    background-color: #fff;
}

.table thead{
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(59, 201, 31, 0.5);
}

.table td{
    padding: 10px 10px;
    border: 1px solid #ddd;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.input-group .form-control[name^=quantity]{
    min-width: 50px;
    width: 100px;
}

.form-control{
    display: block;
    width: 100%;
    height: 35px;
    padding: 8px 13px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, .075);
}


.input-group .form-control{
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group .form-control:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.42857;
    border-radius: 3px;
}

.btn{
    padding: 7.5px 12px;
    font-size: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;
}
.btn-block{
    display: block;
    width: 100%;
}
.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
}
/* session strart profile dropdown*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {

    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content .info {
    background: rgb(245, 52, 52);
}
.dropdown-content .edit {
    background:#e88102;
}
.dropdown-content .address {
    background: #3bc91f;
}
.dropdown-content a.orders  {
    background: #55068e;
}
.dropdown-content a.favorites{
    background: #069eeb;
}
/* Change color on hover */
.dropdown-content a:hover {
    background-color: lightyellow;
    color:blueviolet;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}