* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Verdana;
    background-color: #d3fbff;
}

.header {
    max-width: 1200px;
    width: 100%;
    padding: 20px 10px;
    margin:10px;
}

.logo{
    width: 200px;
    height: 60px;
}
.reg-cart{
   float:right;
   padding:20px;
}
.reg-cart ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.reg-cart ul li{
    display: inline-block;
}

.reg-cart li a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 6px;
}

.login-btn a{
    font-size: 13px;
    background-color: lightseagreen;
}

.cart-btn a {
    font-size: 13px;
    background-color: lightcoral;
}

nav {
    clear: both;
    border-color: #2b1d0e;
}

nav ul{
    list-style-type: none;
    padding: 0;

}

nav ul li {
    display: inline-block;
    width: 12%;
    float: left;
    text-align: center;
    background-color: white;
}

nav a {
    text-decoration: none;
    display: block;
    color: #2b1d0e;
    padding: 10px;
}

nav li:hover>a{
    background: #82ebff;
    color: ivory;
}




